<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5 fixed-top" *ngIf="auth.isAuthenticated()">
  <a [routerLink]="['/home']" class="navbar-brand tittle_text"><img class="icono-icma" [src]="urlImg" alt="IOT">
    IOT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['activate']">
          <i class="material-icons"> home </i> Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="material-icons"> account_circle </i>
        </a>
        <div class="dropdown-menu">
          <!--<a class="dropdown-item" [routerLink]="['/usuario',auth.userID]">Editar Perfil</a>-->
          <a class="dropdown-item" (click)="config()"><i class="alig material-icons"> settings
            </i>Configuración</a>
          <a class="dropdown-item" [routerLink]="['/tablaEstado/0']" [routerLinkActive]="['activate']">
            <i class="material-icons"> assignment</i>
            About
          </a>
          <a class="dropdown-item" (click)="logout()"><i class="alig material-icons"> exit_to_app </i>Cerrar sesión</a>
        </div>
      </li>
    </ul>
  </div>
</nav>