<div class="moduloI mb-1 mx-1">
    <!-- 
    <div class="d-flex justify-content-center">
        <a (click)="newMaquina()" class="btn btn-primary">Nuevo</a>
    </div>
-->
    <mat-tab-group>
        <mat-tab label="Machine">

            <div class="row">
                <div *ngFor="let l of lista">
                    <a [ngStyle]="{'background-color': (l.estado_maquina == 0) ? 'red' : '#00ff00'}"
                        (click)="toggleColor(l)" mat-fab> <i class="material-icons">power</i>
                    </a>
                    <p class="nommaquina"> {{ l.nombre_maquina }} </p>
                </div>
            </div>

        </mat-tab>
        <mat-tab label="List">
            <div class="mb-1 mx-1">
                <form [formGroup]="maquinaForm" (ngSubmit)="onSubmit()">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" style="width:auto">Nombre</th>
                                <th scope="col" style="width:auto">Codigo</th>
                                <th scope="col" style="width:auto">Luz</th>
                                <th scope="col" style="width:auto"></th>
                            </tr>
                            <tr>
                                <th scope="col">
                                    <div class=" ">
                                        <input type="text" class="form-control" id="nombre_maquina"
                                            nombre="nombre_maquina" formControlName="nombre_maquina"
                                            [ngClass]="{ 'is-invalid': submitted && f.nombre_maquina.errors }">
                                        <div *ngIf="submitted && f.nombre_maquina.errors" class="invalid-feedback">
                                            <div *ngIf="f.nombre_maquina.errors.required">Nombre es requerido</div>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class=" ">
                                        <input type="text" class="form-control" id="codigo_maquina"
                                            nombre="codigo_maquina" formControlName="codigo_maquina"
                                            [ngClass]="{ 'is-invalid': submitted && f.codigo_maquina.errors }">
                                        <div *ngIf="submitted && f.codigo_maquina.errors" class="invalid-feedback">
                                            <div *ngIf="f.codigo_maquina.errors.required">Codigo es requerido</div>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class=" ">
                                        <select class="form-control" id="id_luz" nombre="id_luz" formControlName="id_luz"
                                        [ngClass]="{ 'is-invalid': submitted && f.id_luz.errors }">
                                        <option value=""  > Ninguno </option>
                                        <option *ngFor="let lz of listaLuz" [value]="lz.id_luz">
                                            {{lz.nombre_luz | titlecase}}
                                        </option>
                                    </select>
                                    </div>
                                </th>
                                <th>
                                    <div class="">
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let lu of lista">
                                <td>{{lu.nombre_maquina}}</td>
                                <td>{{lu.codigo_maquina }}</td>
                                <td  *ngIf="!lu.id_luz"> </td>
                                <td *ngIf="lu.id_luz" > {{lu.Luz.nombre_luz }}</td>
                                <td>
                                    <a class="btn" data-toggle="tooltip" data-placement="top" title="Editar"
                                        (click)="update(lu)"><i class="dos material-icons ">edit</i></a>
                                    <a class="btn" data-toggle="tooltip" data-placement="top" title="Eliminar"
                                        (click)="delete(lu)"><i class="dos material-icons ">delete</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>
<!-- 
<div class="moduloI card mb-1 mx-1">
    <div id="chartdiv"></div>
</div>
-->