<div class="moduloI mb-1 mx-1">
<!-- 
    <div class="d-flex justify-content-center">
        <a (click)="newLuz()" class="btn btn-primary">Nuevo</a>
    </div>
-->
    <mat-tab-group>
      <!-- <mat-tab label="Graphs">
            <app-grafica-linea> <div id="chartdiv" style="width: 100%; height: 300px"></div> </app-grafica-linea>
        </mat-tab>-->  
        <mat-tab label="Light">
            <div class="row">
                <div *ngFor="let l of lista">
                    <a [ngStyle]="{'background-color': (l.estado_luz == 0) ? 'red' : '#00ff00'}"
                        (click)="toggleColor(l)" mat-fab> <i class="material-icons fa fa-lightbulb-o"></i>
                    </a>
                    <p class="nomluz"> {{ l.nombre_luz }} </p>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="List">
            <div class="mb-1 mx-1">
                <form [formGroup]="luzForm" (ngSubmit)="onSubmit()">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" style="width:auto">Nombre</th>
                                <th scope="col" style="width:auto">Codigo</th>
                                <th scope="col" style="width:auto"></th>
                            </tr>
                            <tr>
                                <th scope="col">
                                    <div class=" ">
                                        <input type="text" class="form-control" id="nombre_luz" nombre="nombre_luz"
                                            formControlName="nombre_luz" placeholder="Foco de Maquina #"
                                            [ngClass]="{ 'is-invalid': submitted && f.nombre_luz.errors }">
                                        <div *ngIf="submitted && f.nombre_luz.errors" class="invalid-feedback">
                                            <div *ngIf="f.nombre_luz.errors.required">Nombre es requerido</div>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class=" ">
                                        <input type="text" class="form-control" id="code_luz" nombre="code_luz"
                                            formControlName="code_luz" placeholder="IOT#"
                                            [ngClass]="{ 'is-invalid': submitted && f.code_luz.errors }">
                                        <div *ngIf="submitted && f.code_luz.errors" class="invalid-feedback">
                                            <div *ngIf="f.code_luz.errors.required">Codigo es requerido</div>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="">
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let lu of lista">
                                <td>{{lu.nombre_luz}}</td>
                                <td>{{lu.code_luz }}</td>
                                <td>
                                    <a class="btn" data-toggle="tooltip" data-placement="top" title="Editar"
                                        (click)="update(lu)"><i class="dos material-icons ">edit</i></a>
                                        <a class="btn" data-toggle="tooltip" data-placement="top" title="Eliminar"
                                        (click)="delete(lu)"><i class="dos material-icons ">delete</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>

<div class="moduloI card mb-1 mx-1">
    <div id="chartdiv"></div>
</div>
